
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <title>Vue</title>
</head>
<body>
<!--<div id="contenedor">

        <h1>Actividad 4</h1>
        <input type="text" v-model="num_1" name="input-1">
        <input type="text" v-model="num_2" name="input-2">

        <h1>
            El resultado es : {{resultado}}
        </h1>

        <button @click="suma">
            Sumar
        </button>

        <hr>

        <h1>Actividad 4.2</h1>
        <h1>Bienvenido al bar</h1>
        <h3>Introduzca su edad: </h3>
        <input type="text" v-model="age" name="input-1">

        <h1 v-if="age < 18">
            No pase
        </h1>
        
        <h1 v-if="age >= 18">
            Pase
        </h1>
        <hr>

        <h1>Actividad 5</h1>
        <li v-for="item in items">
            {{item.name}} : <span> {{item.role}}
            </span>
        </li>

        <input type="text" v-model="item_name" name="input-5">
        <input type="text" v-model="item_role" name="input-6">

        <br>
        <button @click="save">
            Save
        </button>

    </div>

    <script type="text/javascript">
        //vincular vue con mi contenedor
        const {createApp} = Vue;

        const app = createApp({
            data(){
                return{
                    num_1: 0,
                    num_2: 0,
                    resultado: 0,
                    age: 0,
                    items: [{name: 'item_1', role: '1'},
                    {name: 'item_2', role: '2'},
                    {name: 'item_3', role:'3'}],
                    item_name: "",
                    item_role: ""
                }
            },
            methods: {
                suma(){
                    this.resultado = parseInt(this.num_1)+parseInt(this.num_2)
                },
                save(){
                    this.items.push({name:this.item_name, role:this.item_role})
                }
            }
        }).mount('#contenedor')
    </script> -->

    
    <!-- Actividad 6 -->
    <div id="contenedor">
        
        <form action="">
            <fieldset>
                <legend>
                    Acceso 
                </legend>

                <label for="">
                    Correo electronico
                </label>
                
                <input type="email" v-model="email" name="" id="">

                <label for="">
                    Password
                </label>

                <input type="password" v-model="password" name="" id="">

                <button  @click="login"> 
                    Acceder
                </button>
            </fieldset>
        </form>

    </div>

    <script type="text/javascript">
        const {createApp} = Vue;

        const app = createApp({
            data(){
                return{
                    users: null,
                    email: '',
                    password: ''
                }
            },
            mounted(){
                fetch('users.json')
                    .then((res) => res.json())
                    .then((json) => (this.users= json))
                    .then((err) => (console.log(err)))
            },
            methods:{
                login(e){
                    e.preventDefault();
                    var email_user = this.email;
                    var password_user = this.password;
                    var coincidencia = false;

                    

                    var access = this.users.map(function(u){
                        console.log(this.email)
                        console.log(this.password)
                        if (email_user == u.email.toLowerCase()){
                            if(password_user == u.password){
                                coincidencia = true;
                            }
                        }
                    })  
                    if (coincidencia){
                        alert("Acceso concedido")
                    }else{
                        alert("Acceso denegado")
                    }
                }
            }
        }).mount('#contenedor')
    </script>
</body>
